main {
	padding-bottom: 100px;
}

.main__section-content{
		display: grid;	
		grid-template-areas: "head"
                       		 "main";

		justify-content: center;
}

.main__section-article {
 	grid-area: main;
   	padding-left: 10px;
  	padding-right: 10px;
  	background-color: #FFFFFF;
}

.main__section-article-header--nav a {
    text-decoration: none;
}