
main {
    padding-left: 40px;
    padding-right: 40px;
}


.main__section-content {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "head head head"
                       "article1 article2 article3"
                       "article4 article5 article6";
}

.main__section-title {
    grid-area: head;
    margin-top: 2px;
    padding-left: 20px;
}

.main__section-article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

.main__section-article--1 {
    grid-area: article1;
}
.main__section-article--2 {
    grid-area: article2;
}
.main__section-article--3 {
    grid-area: article3;
}
.main__section-article--4 {
    grid-area: article4;
}
.main__section-article--5 {
    grid-area: article5;
}
.main__section-article--6 {
    grid-area: article6;
}

.main__section-article-header {
    max-height: 475px;
    display: grid;
}

.main__section-article-header--div-img {
    text-align: center;
}

.main__section-article-header--img {
    max-height: 290px;
    max-width: 365px;
}

.main__section-article-header--nav a {
    text-decoration: none;
}

.main__section-article-header--title a {
    text-decoration: none;
}

/*.main__section-article-content {

}*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    .main__section-content {
        grid-template-areas: "head"
                           "article1" "article2" "article3"
                           "article4" "article5" "article6";
    }

    .main__section-article {
        border: 1px solid #999;
        font-size: 2em;
    }

    .main__section-article-content {
        font-size: .5em;
    }

    .main__section-article-header--div-img {
        height: 100%;
    }

    .main__section-article-header--img {
        min-width: 60%;
        min-height: 90%;
    }
}

}